@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.FacePh .contactu .nomerKate span:nth-child(2) p, .FacePh .contactu .nomerKate span:nth-child(1) p, .FacePh .contactu .nomerNazar span:nth-child(2) p, .FacePh .contactu .nomerNazar span:nth-child(1) p, .FacePh .contactu .adresa p {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.FacePh {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  box-sizing: border-box;
  padding: 5px;
}
.FacePh .burger {
  display: flex;
}
.FacePh .burger .ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.FacePh .burger .ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.FacePh .burger .ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -47%) rotate(-45deg);
}
.FacePh .burger .ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  position: relative;
}
.FacePh .burger .ham-menu span {
  height: 5px;
  width: 100%;
  background: #f8dd10;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.FacePh .burger .ham-menu span:nth-of-type(1) {
  top: 25%;
}
.FacePh .burger .ham-menu span:nth-of-type(2) {
  top: 50%;
}
.FacePh .burger .ham-menu span:nth-of-type(3) {
  top: 75%;
}
.FacePh .logo {
  display: flex;
  justify-content: center;
}
.FacePh .logo img {
  width: 100px;
  height: 50px;
}
.FacePh .phone {
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  padding: 8px 0 7px 0;
}
.FacePh .phone img {
  width: 35px;
  height: 35px;
}
.FacePh .contactu.active {
  right: 0;
}
.FacePh .contactu {
  position: fixed;
  top: 60px;
  right: -122px;
  transition: 0.1s ease;
}
.FacePh .contactu .adresa {
  background: #808080;
  color: #f8dd10;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0 0;
  box-sizing: border-box;
  padding: 10px;
}
.FacePh .contactu .adresa p {
  margin: 0;
  text-align: center;
}
.FacePh .contactu .nomerNazar {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0 0;
}
.FacePh .contactu .nomerNazar span:nth-child(1) {
  background: #f8dd10;
}
.FacePh .contactu .nomerNazar span:nth-child(1) p {
  color: #808080;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
.FacePh .contactu .nomerNazar span:nth-child(2) {
  background: #808080;
}
.FacePh .contactu .nomerNazar span:nth-child(2) p {
  color: #f8dd10;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
.FacePh .contactu .nomerKate {
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0 0;
}
.FacePh .contactu .nomerKate span:nth-child(1) {
  background: #f8dd10;
}
.FacePh .contactu .nomerKate span:nth-child(1) p {
  color: #808080;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}
.FacePh .contactu .nomerKate span:nth-child(2) {
  background: #808080;
}
.FacePh .contactu .nomerKate span:nth-child(2) p {
  color: #f8dd10;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}/*# sourceMappingURL=FacePhoneStyle.css.map */