.efectTop {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top {
  width: 95px;
}

.efectRight {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right {
  height: 53px;
}

.efectBottom {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: 5px;
  left: -12px;
}

.Bottom {
  width: 95px;
}

.efectLeft {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -12px;
  left: -3px;
}

.Left {
  height: 53px;
}

.efectTop2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top2 {
  width: 138px;
}

.efectRight2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right2 {
  height: 53px;
}

.efectBottom2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: 5px;
  left: -12px;
}

.Bottom2 {
  width: 138px;
}

.efectLeft2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -12px;
  left: -3px;
}

.Left2 {
  height: 53px;
}

.efectTop3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top3 {
  width: 134px;
}

.efectRight3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right3 {
  height: 53px;
}

.efectBottom3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: 5px;
  left: -12px;
}

.Bottom3 {
  width: 134px;
}

.efectLeft3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -12px;
  left: -3px;
}

.Left3 {
  height: 53px;
}

.efectTop4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top4 {
  width: 76px;
}

.efectRight4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right4 {
  height: 53px;
}

.efectBottom4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: 5px;
  left: -12px;
}

.Bottom4 {
  width: 76px;
}

.efectLeft4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -12px;
  left: -3px;
}

.Left4 {
  height: 53px;
}

.efectTop5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top5 {
  width: 95px;
}

.efectRight5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right5 {
  height: 53px;
}

.efectBottom5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: 5px;
  left: -12px;
}

.Bottom5 {
  width: 95px;
}

.efectLeft5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1.1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -12px;
  left: -3px;
}

.Left5 {
  height: 53px;
}/*# sourceMappingURL=knopku_header.css.map */