@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


// Кольори
$soyo: #f8dd10;

// Шаблони
%styleOswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Osnova {
  display: flex;
  flex-direction: column;
}

.Header {
  position: fixed;
  background-color: #808080;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  & .Face {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 50px 50px 50px;

    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 75px 75px;

    // grid-template-areas: 
    //   "adresa nomeru nomeru"
    //   "media logo logo"
    //   "main main main";

    grid-template-areas: 
      "media logo nomeru"
      "adresa main nomeru";

    & .Adresa {
      grid-area: adresa;
      display: flex;
      justify-content: end;
      box-sizing: border-box;
      padding-right: 40px;
      & div {
        position: relative;
        bottom: 8px;
        display: flex;
        flex-direction: column;
      }
      & p {
        display: flex;
        justify-content: center;
        margin: 0;
        color: $soyo;
        @extend %styleOswald;
        font-size: 19px;
      }
      & p:nth-of-type(1) {
        margin: -12px 0 0 0;
      }
    }
    & .Nomeru {
      grid-area: nomeru;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      & div:nth-of-type(1) {
        display: flex;
        gap: 14px;
        align-items: end;
        color: $soyo;
        @extend %styleOswald
      }
      & div:nth-of-type(2) {
        display: flex;
        gap: 14px;
        align-items: baseline;
        color: $soyo;
        @extend %styleOswald
      }
      & p {
        margin: 10px 0 10px 0;
        font-size: 20px;
      }
    }
    & .Media {
      grid-area: media;
      box-sizing: border-box;
      display: flex;
      justify-content: end;
      padding: 14px 0 0 0;
      & img {
        width: 26px;
        height: 26px;
        margin: 10px;
      }
    }
    & .Logo {
      grid-area: logo;
      display: grid;
      align-items: center;
      justify-items: center;
      & img {
        position: relative;
        top: 10px;
        width: 160px;
        height: 70px;
      }
    }
    & .Main {
      grid-area: main;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      & a {
        position: relative;
        text-decoration: none;
        margin: 25;
        font-size: 24px;
        color: $soyo;
        @extend %styleOswald
      }
    }
  }
}
