@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.efectTop {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top {
  width: 92px;
}

.efectRight {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right {
  height: 50px;
}

.efectBottom {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom {
  width: 92px;
}

.efectLeft {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left {
  height: 50px;
}

.efectTop2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top2 {
  width: 135px;
}

.efectRight2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right2 {
  height: 50px;
}

.efectBottom2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom2 {
  width: 135px;
}

.efectLeft2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left2 {
  height: 50px;
}

.efectTop3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top3 {
  width: 131px;
}

.efectRight3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right3 {
  height: 50px;
}

.efectBottom3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom3 {
  width: 131px;
}

.efectLeft3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left3 {
  height: 50px;
}

.efectTop4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top4 {
  width: 73px;
}

.efectRight4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right4 {
  height: 50px;
}

.efectBottom4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom4 {
  width: 73px;
}

.efectLeft4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left4 {
  height: 50px;
}

.efectTop5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top5 {
  width: 85px;
}

.efectRight5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right5 {
  height: 50px;
}

.efectBottom5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom5 {
  width: 85px;
}

.efectLeft5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1.1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left5 {
  height: 50px;
}

.Header .Face .Main a, .Header .Face .Nomeru div:nth-of-type(2), .Header .Face .Nomeru div:nth-of-type(1), .Header .Face .Adresa p {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.Osnova {
  display: flex;
  flex-direction: column;
}

.Header {
  position: fixed;
  background-color: #808080;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
}
.Header .Face {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 75px 75px;
  grid-template-areas: "media logo nomeru" "adresa main nomeru";
}
.Header .Face .Adresa {
  grid-area: adresa;
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  padding-right: 40px;
}
.Header .Face .Adresa div {
  position: relative;
  bottom: 8px;
  display: flex;
  flex-direction: column;
}
.Header .Face .Adresa p {
  display: flex;
  justify-content: center;
  margin: 0;
  color: #f8dd10;
  font-size: 19px;
}
.Header .Face .Adresa p:nth-of-type(1) {
  margin: -12px 0 0 0;
}
.Header .Face .Nomeru {
  grid-area: nomeru;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.Header .Face .Nomeru div:nth-of-type(1) {
  display: flex;
  gap: 14px;
  align-items: end;
  color: #f8dd10;
}
.Header .Face .Nomeru div:nth-of-type(2) {
  display: flex;
  gap: 14px;
  align-items: baseline;
  color: #f8dd10;
}
.Header .Face .Nomeru p {
  margin: 10px 0 10px 0;
  font-size: 20px;
}
.Header .Face .Media {
  grid-area: media;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  padding: 14px 0 0 0;
}
.Header .Face .Media img {
  width: 26px;
  height: 26px;
  margin: 10px;
}
.Header .Face .Logo {
  grid-area: logo;
  display: grid;
  align-items: center;
  justify-items: center;
}
.Header .Face .Logo img {
  position: relative;
  top: 10px;
  width: 160px;
  height: 70px;
}
.Header .Face .Main {
  grid-area: main;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.Header .Face .Main a {
  position: relative;
  text-decoration: none;
  margin: 25;
  font-size: 24px;
  color: #f8dd10;
}/*# sourceMappingURL=globals.css.map */