@use "./css_style/knopku_header";
@import "./css_style/FacePhoneStyle.scss";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


// Кольори
$soyo: #f8dd10;
$soyG: #808080;
$soyFon: #4b4a4a;

// Шаблони
%styleOswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@mixin grid1 {
  grid-template-columns: 1fr minmax(565px, 1000px) 1fr;
  grid-template-rows: 75px 75px;
  grid-template-areas: 
    "media logo nomeru"
    "adresa main nomeru";
}

@mixin grid2 {
  grid-template-columns: minmax(280px, 1fr) 200px 200px;
  grid-template-rows: 30px 60px 60px;
      grid-template-areas: 
    "adresa nomeru nomeru"
    "media logo logo"
    "main main main";
}

@mixin text_zagolovok {
  display: flex;
  justify-content: center;
  color: $soyo;
  @extend %styleOswald;
  font-size: 30px;
  margin: 16px 0 16px 0;
  text-align: center
}

body {
  margin: 0;
  background: $soyFon;
}

// Блок Голова
.Osnova {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.Header {
  position: fixed;
  background-color: #808080;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  & .Face {
    display: grid;
    @include grid1;
    & .Adresa {
      grid-area: adresa;
      display: flex;
      justify-content: end;
      box-sizing: border-box;
      padding-right: 40px;
      & div {
        position: relative;
        bottom: 8px;
        display: flex;
        flex-direction: column;
      }
      & p {
        display: flex;
        justify-content: center;
        margin: 0;
        color: $soyo;
        @extend %styleOswald;
        font-size: 19px;
      }
      & p:nth-of-type(1) {
        margin: -12px 0 0 0;
      }
    }
    & .Nomeru {
      grid-area: nomeru;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      & div:nth-of-type(1) {
        display: flex;
        gap: 14px;
        align-items: end;
        color: $soyo;
        @extend %styleOswald;
        & p:nth-child(2) {
          margin: 10px 10px 10px 0;
        }
      }
      & div:nth-of-type(2) {
        display: flex;
        gap: 14px;
        align-items: baseline;
        color: $soyo;
        @extend %styleOswald;
        & p:nth-child(2) {
          margin: 10px;
        }
      }
      & p {
        margin: 10px 0 10px 0;
        font-size: 20px;
      }
    }
    & .Media {
      grid-area: media;
      box-sizing: border-box;
      display: flex;
      justify-content: end;
      padding: 14px 0 0 0;
      & img {
        width: 26px;
        height: 26px;
        margin: 10px;
      }
    }
    & .Logo {
      grid-area: logo;
      display: grid;
      align-items: center;
      justify-items: center;
      & img {
        position: relative;
        top: 10px;
        width: 160px;
        height: 70px;
      }
    }
    & .Main {
      grid-area: main;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      & a {
        position: relative;
        text-decoration: none;
        margin: 25;
        font-size: 24px;
        color: $soyo;
        @extend %styleOswald
      }
    }
  }
};

// ______________________Верстка______________________________

@media(max-width: 950px) {
  .Header {
    position: static
  }
  .Header .Face {
    @include grid2;
    & .Adresa {
      padding: 0;
      justify-content:flex-start;
      background: $soyo;
      box-sizing: border-box;
      padding: 0 0 0 10px;
      & div {
        box-sizing: border-box;
        flex-direction: row;
        bottom: 0;
        padding: 2px 0 0 0 ;
      }
      & p {
        color: $soyG;
        font-size: 17px;
      }
      & p:nth-of-type(1) {
        margin: 0 10px 0 0;
      }
      & p:nth-of-type(2) {
        margin: 0 10px 0 0;
      }
    }
    & .Nomeru {
      background: $soyo;
      grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
      grid-template-rows: 1fr;
      & p {
        color: $soyG;
      }
      & div:nth-of-type(1) {
        align-items: baseline;
        justify-content: end;
        box-sizing: border-box;
        & p:nth-of-type(1) {
          margin: 0;
        }
        & p:nth-of-type(2) {
          margin: 0;
        }
      }
      & div:nth-of-type(2) {
        align-items: baseline;
        justify-content: end;
        box-sizing: border-box;
        padding: 0 10px 0 0;
        & p:nth-of-type(1) {
          margin: 0;
        }
        & p:nth-of-type(2) {
          margin: 0;
        }
      }
    }
    & .Media {
      justify-content: flex-start;
    }
    & .Logo {
      box-sizing: border-box;
      place-items: baseline;
      & img {
        right: 180px;
        right: calc(1px + (180 - 1) * ((100vw - 680px) / (950 - 680)));
      }
    }
    & .Main {
      justify-content: space-evenly;
      & a {
        margin-top: 20px;
      }
    }
  }

  .Top, .Top2, .Top3, .Top4, .Top5,
  .Right, .Right2, .Right3, .Right4, .Right5,
  .Bottom, .Bottom2, .Bottom3, .Bottom4, .Bottom5,
  .Left, .Left2, .Left3, .Left4, .Left5 {
    display: none;
  }

}

@media(max-width: 679px) {
  .Header {
    height: 60px;
    position: fixed;
    & .Face {
      display: none;
    }
    & .FacePh {
      display: grid;
    }
  }
}

// ______________________Блок Home_____________

// ______________________Aside_________________
.Aside {
  background: url('/img/photo.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 400px;
  & p {
    text-align: center;
    color: white;
    font-size: 45px;
    @extend %styleOswald
  }
};

// _________________Верстка___________________

@media (max-width: 950px) {
  .Aside {
    padding-top: 80px;
  }
};

// __________________AsideTwo_________________

.AsideTwo {
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  background: white;
  & >p:nth-of-type(1) {
    text-align: center;
    margin: 30px 0 0 0;
    font-size: 30px;
    @extend %styleOswald;
    font-weight: 300;
  };
  & .NovunuAkchii {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & div {
      width: 230px;
      height: 250px;
      margin: 5px;
    };
    & div:nth-of-type(1) {
      background: url('/img/photo_new1.png');
      background-size: cover;
    };
    & div:nth-of-type(2) {
      background: url('/img/photo_new2.png');
      background-size: cover;
    };
    & div:nth-of-type(3) {
      background: url('/img/photo_new3.png');
      background-size: cover;
    };
    & div:nth-of-type(4) {
      background: url('/img/photo_new4.png');
      background-size: cover;
    };
    & div:nth-of-type(5) {
      background: url('/img/photo_new5.png');
      background-size: cover;
    };
    & div:hover {
      margin-top: 0
    }
  };
  & .Akchia {
    display: flex;
    flex-direction: column;
    & p {
      text-align: center;
      margin: 0 10px 0 10px;
      @extend %styleOswald;
    }
    & p:nth-of-type(1) {
      font-weight: 400;
      font-size: 18px;
      color: red;
    }
  };
};

// ________________Реклама______________

.new {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  background: #fff6f6c9;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  bottom: 0;
  & p {
    width: 650px;
    background: white;
    margin: 0;
    padding: 18px;
  }
};

.del {
  display: none;
};

// _______________верстка_______________

@media (max-width: 685px) {
  .new {
    width: 100%;
    & img {
      width: 100%;
    }
    & p {
      width: 100%;
    }
  }
}

// _______________footer_____________

.Footer {
  background: $soyG;
  color: white;
  box-sizing: border-box;
  padding: 10px;
  @extend %styleOswald;
  font-weight: 300;
};

//_______________________Блок Stuli___________

.Stuli {
  margin: 150px 0 0 0;
}

// _______________________Блок Rozklad_______________

.Rozklad {
  margin: 150px 0 0 0;
  background: $soyFon;
  display: flex;
  flex-direction: column;
  & h1 {
    @include text_zagolovok;
  }
};

.Tablucha {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @extend %styleOswald;
  margin: 50px 0 0 0;
  & span {
    display: flex;
    flex-direction: column;
    border: 4px solid $soyo;
    margin: 5px;
    border-radius: 5px;
    max-width: 325px;
    & p {
      text-align: center;
      margin: 0;
    }
    & p:nth-of-type(1) {
      background: #f8dd10;
      font-size: 72px;
      padding: 5px 20px 0 20px;
    };
    & p:nth-of-type(2) {
      background: #f8dd10;
      font-size: 30px;
      margin-bottom: 0px;
      padding-bottom: 5px;
      font-weight: 400;
    };
    & p:nth-of-type(3) {
      color: #f8dd10;
      font-size: 24px;
      margin-top: 30px;
    };
    & p:nth-of-type(4) {
      color: #f8dd10;
      font-size: 24px;
      margin-bottom: 30px;
    };
    & p:nth-of-type(5) {
      color: #f8dd10;
      font-size: 24px;
    };
    & p:nth-of-type(6) {
      color: #f8dd10;
      font-size: 24px;
      margin-bottom: 30px;
    };
  }
}

// _______________________Блок Zal_______________

.Zal {
  margin: 150px 0 0 0;
  display: flex;
  flex-direction: column;
  background: $soyFon;
  & h1 {
    @include text_zagolovok;
  }
  & div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & img {
      width: 250px;
      height: 350px;
      margin: 10px;
      border: 2px solid $soyo;
    }
  }
}

// ________________Верстка__________________

@media (max-width: 950px) {
  .Zal {
    margin: 0;
  }
};

@media (max-width: 679px) {
  .Zal {
    margin: 60px 0 0 0;
  }
};

// ______________________China_________________

.China {
  margin: 150px 0 0 0;
  background: $soyFon;
  & h1 {
    @include text_zagolovok;
  }
};

.Chinu1,
.Chinu2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  & span {
    margin: 10px;
    width: 200px;
    height: 300px;
    @extend %styleOswald;
    background: $soyG;
    display: flex;
    flex-direction: column;
    border: 10px solid $soyo;
    border-radius: 15px;
    & p {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size: 36px;
    };
    & p:nth-of-type(1) {
      height: 225px;
      color: $soyo
    };
    & p:nth-of-type(2) {
      background: $soyo;
      height: 75px;
    };
  }
};

// ________________Верстка__________________

@media (max-width: 950px) {
  .China {
    margin: 0;
  }
};

@media (max-width: 679px) {
  .China {
    margin: 60px 0 0 0;
  }
};
