@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.efectTop {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top {
  width: 92px;
}

.efectRight {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right {
  height: 50px;
}

.efectBottom {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom {
  width: 92px;
}

.efectLeft {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left {
  height: 50px;
}

.efectTop2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top2 {
  width: 135px;
}

.efectRight2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right2 {
  height: 50px;
}

.efectBottom2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom2 {
  width: 135px;
}

.efectLeft2 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left2 {
  height: 50px;
}

.efectTop3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top3 {
  width: 131px;
}

.efectRight3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right3 {
  height: 50px;
}

.efectBottom3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom3 {
  width: 131px;
}

.efectLeft3 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left3 {
  height: 50px;
}

.efectTop4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top4 {
  width: 73px;
}

.efectRight4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right4 {
  height: 50px;
}

.efectBottom4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom4 {
  width: 73px;
}

.efectLeft4 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left4 {
  height: 50px;
}

.efectTop5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  top: 5px;
  right: -12px;
}

.Top5 {
  width: 85px;
}

.efectRight5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  right: -3px;
  top: -10px;
}

.Right5 {
  height: 50px;
}

.efectBottom5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 0;
  height: 1px;
  transition: width 0.5s ease 0s;
  position: absolute;
  bottom: -8px;
  left: -12px;
}

.Bottom5 {
  width: 85px;
}

.efectLeft5 {
  background: #f8dd10;
  border-radius: 10px;
  width: 1.1px;
  height: 0;
  transition: height 0.5s ease 0s;
  position: absolute;
  bottom: -21px;
  left: -3px;
}

.Left5 {
  height: 50px;
}

.FacePh {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  box-sizing: border-box;
  padding: 5px;
}
.FacePh div:nth-of-type(1) {
  display: flex;
}
.FacePh div:nth-of-type(1) .ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.FacePh div:nth-of-type(1) .ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.FacePh div:nth-of-type(1) .ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -47%) rotate(-45deg);
}
.FacePh div:nth-of-type(1) .ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  position: relative;
}
.FacePh div:nth-of-type(1) .ham-menu span {
  height: 5px;
  width: 100%;
  background: #f8dd10;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.FacePh div:nth-of-type(1) .ham-menu span:nth-of-type(1) {
  top: 25%;
}
.FacePh div:nth-of-type(1) .ham-menu span:nth-of-type(2) {
  top: 50%;
}
.FacePh div:nth-of-type(1) .ham-menu span:nth-of-type(3) {
  top: 75%;
}
.FacePh div:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
.FacePh div:nth-of-type(2) img {
  width: 100px;
  height: 50px;
}
.FacePh div:nth-of-type(3) {
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  padding: 8px 0 7px 0;
}
.FacePh div:nth-of-type(3) img {
  width: 35px;
  height: 35px;
}
.FacePh .contactu {
  position: fixed;
  top: 60px;
  right: 0px;
}
.FacePh .contactu div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}
.FacePh .contactu div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}

.Header .Face .Main a, .Header .Face .Nomeru div:nth-of-type(2), .Header .Face .Nomeru div:nth-of-type(1), .Header .Face .Adresa p {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
}

.Osnova {
  display: flex;
  flex-direction: column;
}

.Header {
  position: fixed;
  background-color: #808080;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
}
.Header .Face {
  display: grid;
  grid-template-columns: 1fr minmax(565px, 1000px) 1fr;
  grid-template-rows: 75px 75px;
  grid-template-areas: "media logo nomeru" "adresa main nomeru";
}
.Header .Face .Adresa {
  grid-area: adresa;
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  padding-right: 40px;
}
.Header .Face .Adresa div {
  position: relative;
  bottom: 8px;
  display: flex;
  flex-direction: column;
}
.Header .Face .Adresa p {
  display: flex;
  justify-content: center;
  margin: 0;
  color: #f8dd10;
  font-size: 19px;
}
.Header .Face .Adresa p:nth-of-type(1) {
  margin: -12px 0 0 0;
}
.Header .Face .Nomeru {
  grid-area: nomeru;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.Header .Face .Nomeru div:nth-of-type(1) {
  display: flex;
  gap: 14px;
  align-items: end;
  color: #f8dd10;
}
.Header .Face .Nomeru div:nth-of-type(1) p:nth-child(2) {
  margin: 10px 10px 10px 0;
}
.Header .Face .Nomeru div:nth-of-type(2) {
  display: flex;
  gap: 14px;
  align-items: baseline;
  color: #f8dd10;
}
.Header .Face .Nomeru div:nth-of-type(2) p:nth-child(2) {
  margin: 10px;
}
.Header .Face .Nomeru p {
  margin: 10px 0 10px 0;
  font-size: 20px;
}
.Header .Face .Media {
  grid-area: media;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  padding: 14px 0 0 0;
}
.Header .Face .Media img {
  width: 26px;
  height: 26px;
  margin: 10px;
}
.Header .Face .Logo {
  grid-area: logo;
  display: grid;
  align-items: center;
  justify-items: center;
}
.Header .Face .Logo img {
  position: relative;
  top: 10px;
  width: 160px;
  height: 70px;
}
.Header .Face .Main {
  grid-area: main;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.Header .Face .Main a {
  position: relative;
  text-decoration: none;
  margin: 25;
  font-size: 24px;
  color: #f8dd10;
}

@media (max-width: 950px) {
  .Header {
    position: static;
  }
  .Header .Face {
    grid-template-columns: minmax(280px, 1fr) 200px 200px;
    grid-template-rows: 30px 60px 60px;
    grid-template-areas: "adresa nomeru nomeru" "media logo logo" "main main main";
  }
  .Header .Face .Adresa {
    padding: 0;
    justify-content: flex-start;
    background: #f8dd10;
    box-sizing: border-box;
    padding: 0 0 0 10px;
  }
  .Header .Face .Adresa div {
    box-sizing: border-box;
    flex-direction: row;
    bottom: 0;
    padding: 2px 0 0 0;
  }
  .Header .Face .Adresa p {
    color: #808080;
    font-size: 17px;
  }
  .Header .Face .Adresa p:nth-of-type(1) {
    margin: 0 10px 0 0;
  }
  .Header .Face .Adresa p:nth-of-type(2) {
    margin: 0 10px 0 0;
  }
  .Header .Face .Nomeru {
    background: #f8dd10;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-rows: 1fr;
  }
  .Header .Face .Nomeru p {
    color: #808080;
  }
  .Header .Face .Nomeru div:nth-of-type(1) {
    align-items: baseline;
    justify-content: end;
    box-sizing: border-box;
  }
  .Header .Face .Nomeru div:nth-of-type(1) p:nth-of-type(1) {
    margin: 0;
  }
  .Header .Face .Nomeru div:nth-of-type(1) p:nth-of-type(2) {
    margin: 0;
  }
  .Header .Face .Nomeru div:nth-of-type(2) {
    align-items: baseline;
    justify-content: end;
    box-sizing: border-box;
    padding: 0 10px 0 0;
  }
  .Header .Face .Nomeru div:nth-of-type(2) p:nth-of-type(1) {
    margin: 0;
  }
  .Header .Face .Nomeru div:nth-of-type(2) p:nth-of-type(2) {
    margin: 0;
  }
  .Header .Face .Media {
    justify-content: flex-start;
  }
  .Header .Face .Logo {
    box-sizing: border-box;
    place-items: baseline;
  }
  .Header .Face .Logo img {
    right: 180px;
    right: calc(1px + 179 * (100vw - 680px) / 270);
  }
  .Header .Face .Main {
    justify-content: space-evenly;
  }
  .Header .Face .Main a {
    margin-top: 20px;
  }
  .Top, .Top2, .Top3, .Top4, .Top5,
  .Right, .Right2, .Right3, .Right4, .Right5,
  .Bottom, .Bottom2, .Bottom3, .Bottom4, .Bottom5,
  .Left, .Left2, .Left3, .Left4, .Left5 {
    display: none;
  }
}
@media (max-width: 679px) {
  .Header {
    height: 60px;
  }
  .Header .Face {
    display: none;
  }
  .Header .FacePh {
    display: grid;
  }
}/*# sourceMappingURL=globals.css.map */